* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: transparent;
}

body {
  margin: 0 auto;
  background-color: lightgreen;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 50px 120px;
  background-color: #fff;
  margin: 0 auto;
}

.container-header {
  margin-top: 10vh;
  margin-top: 10svh;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.nav-list {
  display: flex;
  list-style-type: none;
}
.nav-list > li {
  margin-right: 50px;
  font-size: 20px;
}
.nav-list > li:first-child {
  margin-right: 700px;
  font-weight: 700;
  font-size: 28px;
}
.nav-list > li > a {
  text-decoration: none;
  color: rgb(0, 199, 0);
}
.nav-list > li > a:hover, .nav-list > li > a:focus {
  color: rgb(98, 79, 128);
  text-decoration: underline;
}

.container-main {
  position: relative;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.container-main > h1 {
  width: 50%;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 30px;
  letter-spacing: 0.04em;
  line-height: 1.2;
}
.container-main > h1 > span {
  color: rgb(0, 199, 0);
}
.container-main > p {
  width: 40%;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.3;
  margin-bottom: 5px;
  text-indent: 15px;
  margin-bottom: 50px;
}
.container-main > p > span {
  color: rgb(0, 199, 0);
}
.container-main > a {
  width: 30%;
  margin-bottom: 50px;
  text-decoration: none;
  color: rgb(0, 199, 0);
  letter-spacing: 0.03em;
  line-height: 1.3;
  margin-left: 95px;
}
.container-main > a:hover, .container-main > a:focus {
  color: rgb(98, 79, 128);
  text-decoration: underline;
}
.container-main > button {
  width: 125px;
  padding: 10px 0;
  font-size: 18px;
  background-color: rgb(0, 199, 0);
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin-left: 80px;
}
.container-main > button:hover, .container-main > button:focus {
  opacity: 0.7;
}
.container-main > button:active {
  transform: scale(1.05);
}

.pic {
  position: absolute;
  right: 8%;
  bottom: 1%;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.container-footer > p {
  font-size: 14px;
}
.container-footer > p > a {
  text-decoration: none;
  color: rgb(0, 199, 0);
}
.container-footer > p > a:hover, .container-footer > p > a:focus {
  color: rgb(98, 79, 128);
  text-decoration: underline;
}

.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: 1.2s ease;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  min-height: 400px;
  width: 100%;
  border: 3px solid black;
  border-radius: 25px;
  background-color: rgb(0, 212, 0);
  transition: 1s ease;
}
.modal-btn {
  position: absolute;
  background-color: rgb(0, 199, 0);
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.modal-btn:hover, .modal-btn:focus {
  color: rgb(98, 79, 128);
  border-color: rgb(98, 79, 128);
}
.modal-close {
  top: 10px;
  right: 10px;
  border-radius: 50%;
}
.modal > h1 {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid #fff;
}
.modal > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal > form > label {
  margin: 10px auto;
  font-size: 20px;
}
.modal > form > input {
  height: 25px;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 400px;
  width: 100%;
  font-size: 18px;
  border: 2px solid #fff;
  text-align: center;
  padding: 0 30px;
  color: rgb(98, 79, 128);
}
.modal > form > input:hover, .modal > form > input:focus {
  color: rgb(98, 79, 128);
  border-color: rgb(98, 79, 128);
}
.modal-accept {
  width: 100px;
  height: 60px;
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15%;
}

.modal-accept-icon {
  width: 60px;
  height: 60px;
}

div.is-hidden .modal {
  transform: translate(300%, -50%);
}
div.is-hidden:not(.is-hidden) {
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=styles.css.map */